---
layout: homepage
title: Home
pagination: 
  enabled: true
---

<article>
{% for post in paginator.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
        <h2 class="text-white text-2xl md:text-3xl tracking-wide font-semibold mt-8 mb-4" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
        {% assign date = currentdate %}
    {% endif %}
    <a href="{{ post.url }}" class="group flex flex-wrap md:flex-nowrap items-center gap-x-6 justify-between px-4 py-3 rounded-md hover:bg-slate-900">
        <img class="w-24 h-24 sm:w-32 sm:h-32 object-cover rounded-md" src="{{post.image}}" />
        <p class="group-hover:decoration-cyan-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-4 flex-1 text-lg font-semibold text-white">{{ post.title }}</p>
        <p class="text-base text-slate-400 text-center block">{{ post.date | date: "%d %b %y" }}</p>
    </a>
{% endfor %}
</article>